*.pyc
*.log
*.lot
*.aux
*.blg
*.out
*user_manual.synctex.gz
*.log
*.out
*.toc
.eggs/*
dist/*
myptv.egg-info/*
build/*

*.aux
*.bbl
*.fdb_latexmk
*.log
*.out
*.aux
*.fls
*.log
*.out
.vscode/settings.json
