matplotlib==3.10.8
moviepy==1.0.1
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
PyYAML==6.0.3
rawpy==0.26.1
scipy==1.17.1
setuptools==82.0.1
skimage==0.0
tqdm==4.67.3
cycler
fonttools
imageio
ipykernel
kiwisolver
opencv-python
packaging
pyparsing
python-dateutil
pytest
pytz
PyWavelets
six
tk
tifffile
imagecodecs

